.timer-container {
    text-align: center;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.start-stop-button, .start-stop-button--red {
    display: inline-block;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 3px 12px rgba(0, 180, 216, 0.4);
}

.start-stop-button {
    background-color: #00b4d8;
}

.start-stop-button--red {
    background-color: #d83f3f;
}

.start-stop-button:hover, .start-stop-button--red:hover {
    background-color: #0097a7;
}

.start-stop-button--red:hover {
    background-color: #c73434;
}

.start-stop-button:active, .start-stop-button--red:active {
    transform: scale(0.97);
}

#records-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.record-date {
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
}

.record-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background: #f3f3f3;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}
